name: Reservar WodBuster

on:
  schedule:
    - cron: '0 12 * * 0'
  workflow_dispatch:

jobs:
  book:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          pip install playwright
          playwright install

      - name: Ejecutar script
        env:
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: python reservar.py
